.container-fluid#about-container{data: {scroll: {speed: 0}}}
  .row
    %h1.heading.col-xs-12#about-me-text About me
    .col-xs-12.col-sm-6
      = image_tag "me.png", alt: "Picture of me", class: "profile-pic"
      %p.profile-text I am UK citizen and permanent resident of San Francisco seeking employment. Legally able to work in the U.S; sponsorship is not required. Highly determined and organized individual who adapts to new environments with ease. Quick to learn new procedures and digest complex information with a keen eye for detail and excellent communication skills. Develops strong working relationships with clients and colleagues alike, with a confident, outgoing, enthusiastic, and approachable character. Experienced in working to tight deadlines in pressured situations, managing own time and others, working as part of a team or individually.
      %br
      %p.profile-text With a desire to work in web development I signed up for a course with CareerFoundry.com and, after completing it almost a month early, now want to get a junior/entry level position in front end development.
    -# .col-xs-12.col-sm-6.video
    -#   .embed-responsive.embed-responsive-16by9
    -#     %iframe.embed-responsive-item{:src => "https://www.youtube.com/embed/YIOT2e2vV9Y"}
    .col-xs-12.col-sm-6
      %h3 FAQs
      #accordion.panel-group
        / panel 1
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                1.
                %span 
                  Why become a web developer?
                %span.caret
          #collapseOne.panel-collapse.collapse
            .panel-body
              %p I've always been a geek at heart. When I was tiny I remember spending hours typing in DOS just so I could draw a circle on a screen. But then someone showed me a guitar and that was that. But as I got older I needed something stable. Web developing cures my creative and geek needs. Win win!
        / panel 2
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                2. Any hobbies?
                %span.caret
          #collapseTwo.panel-collapse.collapse
            .panel-body
              %p Other than the usual (reading, walking, breathing) I'm still a musician. Famous in my own living room don't you know! I don't play live anymore but you never stop playing. I've been know to give the odd free guitar lesson too.
        / panel 3
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                3. What did you want to be growing up?
                %span.caret
          #collapseThree.panel-collapse.collapse
            .panel-body
              %p You may have guessed it from the above but...A Rock Star! Who wouldn't?!?!?! I did alright in my day. Worked with producers from Portishead and Elton John. Toured all over the U.K. They were good days.
        / panel 4
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
                4. What does the future look like for you?
                %span.caret
          #collapseFour.panel-collapse.collapse
            .panel-body
              %p For now I just aim to be the best I can be at what I'm doing. But after that I'll move in to Apps, Programs maybe even Game Development.
        / panel 5
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive"}
                5. What's it like for a Brit in the US?
                %span.caret
          #collapseFive.panel-collapse.collapse
            .panel-body
              %p The coffee is better for sure! And the weather (mostly). There's so much more positivity and truly helpful people who want you to succeed. But you guys really don't understand what a Bacon Butty is.


