.container-fluid#examples
  %h1.heading Work examples
  .row
    .col-xs-12.col-sm-4
      = link_to image_tag("ka photography.png", alt: "work example 1", class: "img-responsive img-thumbnail"), "https://career-foundry-app-2.herokuapp.com/"
    .col-xs-12.col-sm-4
      %p GitHub image link
    .col-xs-12.col-sm-4.cv-link
      %i.glyphicon.glyphicon-file{"aria-hidden" => "true"}
      %p CV/Resume