.container-fluid#intro-container
  .row
    .col-xs-12.col-sm-4.intro-box
      .icon-html
      .intro-text
        %p I'm proficient in Front End Development using HTML, Haml, CSS, SCSS/Sass, JavaScript, jQuery and GIT version control in Windows and UNIX environments, with knowledge of both Bootstrap and Foundation frameworks. 
    .col-xs-12.col-sm-4.intro-box
      .icon-rails
      .intro-text
        %p Comfortable with database integration, e-commerce, automated emailing, caching, performance strategies and security. As well as an understanding of concepts/techniques such as MVC structures, CRUD, REST architecture and Test Driven Development with Rspec. This site was built in Rails with the Bootstrap and the work example below with the Foundation framework. 
    .col-xs-12.col-sm-4.intro-box
      .icon-responsive
      .intro-text
        %p Focused on mobile first development to create responsive websites that look great on all devises.