.container-fluid#intro-container
  .row
    .col-xs-12.col-sm-4.intro-box
      .icon
        %p Front-End
      .intro-text
        %p Straightnin' the curves. Flatnin' the hills Someday the mountain might get ‘em but the law never will. It's time to put on makeup. It's time to dress up right. It's time to raise the curtain on the Muppet Show tonight. Now were up in the big leagues getting' our turn at bat. So lets make the most of this beautiful day. Since we're together.
    .col-xs-12.col-sm-4.intro-box
      .icon
        %p Ruby on Rails
      .intro-text
        %p Straightnin' the curves. Flatnin' the hills Someday the mountain might get ‘em but the law never will. It's time to put on makeup. It's time to dress up right. It's time to raise the curtain on the Muppet Show tonight. Now were up in the big leagues getting' our turn at bat. So lets make the most of this beautiful day. Since we're together.
    .col-xs-12.col-sm-4.intro-box
      .icon
        %p Responsive
      .intro-text
        %p Straightnin' the curves. Flatnin' the hills Someday the mountain might get ‘em but the law never will. It's time to put on makeup. It's time to dress up right. It's time to raise the curtain on the Muppet Show tonight. Now were up in the big leagues getting' our turn at bat. So lets make the most of this beautiful day. Since we're together.