#examples {
    padding: 4% 2%;
    background-color: #5A9C98;
}
.linkedin {
    @extend .github;
}
.github {
    text-align: center;
    img {
        width: 35%;
    }
}
.work-example {
    @extend .github;
    img {
        width: 58%;
    }
}
