#examples {
    padding: 4% 2%;
    background-color: #5A9C98;
}
.github {
    text-align: center;
    img {
        width: 25%;
    }
}
.linkedin {
    @extend .github;
}
.work-example {
    @extend .github;
    img {
        width: 44%;
    }
}
@keyframes Jiggle {
    25% {transform: rotate(2deg);}
    75% {transform: rotate(-2deg);}
}
.jiggle:hover {
    animation-name: Jiggle;
    animation-duration: 0.5s;
}
