#intro-container {
    background-color: #CEE2E1;
    // padding: 4% 2%;
    margin-top: -28px;
}
.icon-html {
    background: #B5D3DB url(../Coding-Html.svg) center center;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    margin: 0 auto;
}
.icon-rails {
    @extend .icon-html;
    background: url(../ruby-rails.svg) center center;
    background-size: cover;
}
.icon-responsive {
    @extend .icon-html;
    background: url(../Adaptive_design.svg) center center;
}
.intro-text {
    margin-top: 15px
}