#intro-container {
    margin-top: -100px;
}
.icon {
    border: 1px solid black;
    text-align: center;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    margin: 0 auto;
    line-height: 84px;
    background-color: white;
}
.intro-text {
    margin-top: 15px
}