%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{data: {:toggle => "collapse", :target => "#navbar"}}
        %span.sr-only Toggle Navigation
        - 3.times do
          %span.icon-bar
      = link_to image_tag('logo.png', alt: "logo", class: "navbar-brand"), "#intro-container"

    .collapse.navbar-collapse#navbar
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "About Me", "#about-container"
        %li= link_to "Work Examples", "#examples"
        %li= link_to "Contact Me", contact_path, :remote => true, data: {:toggle => "modal", :target => "#contact"}